<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link href="bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />

    <script>
        window.getScrollTop = (element) => element ? element.scrollTop : 0;

        window.scrollToDay = (element, position) => {
            if (element) {
                element.scrollTop = position;
            }
        };
    </script>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
