@inject DateService DateService

<nav class="top-nav">
    <img src="images/eye.png" class="nav-icon" />

    <div class="nav-date">@DateService.FormattedDate</div>

    <img src="images/calendar.png" class="nav-icon" />
</nav>

@code {
    protected override void OnInitialized()
    {
        DateService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        DateService.OnChange -= StateHasChanged;
    }
}
